<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  
</head>

<header>
    Vitor Salmonela
</header>

<nav>
  <ul>
     <li>
        Realizamos entrega domicilar
     </li>
     <li>
        Melhor frete do país
     </li>
     <li>
        Experimente nossos laticínios
     </li>
     <li>
        Queijos de variadas maneiras
     </li>
  </ul>
</nav>
   
<body>
  <main>

    <% for (let produto of produtos) { %>
      <div class="card">
        <img src="<%= produto.imagem%>">
        <h2><%= produto.nome%></h2>
        <a class="button" href="/produtos/<%= produto.id%>"; class = "travel">Ver Produto</a>
      </div>
   <% } %>

  </main>
</body>
  <footer>
    Um grande site de queijos :) 
    </footer>
  
</body>
</html>