<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
  Amostra do Produto
</header>
  
  
  <main>
    <div class="card">
      <img src="<%= produto.imagem%>">
      <h2><%= produto.nome%></h2>
      <p class = "desc"><%= produto.descricao%></p>
      
    </div>

  </main>

  <footer>
    Um grande site de queijos :) 
    </footer>
  
 
</body>
</html>