<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <h1>Todos os nossos queijos</h1>
  
  <main>
    <div class="card">
      <img src="/gorgo.jpg">
      <h2>Queijo gorgonzola</h2>
      <p>Derretido é uma delícia</p>
    </div>

   <div class="card">
      <img src="/coalho.jpg">
      <h2>Queijo coalho</h2>
      <p>é BÃO no churras</p>
    </div>

    <div class="card">
      <img src="/gouda.jpg">
      <h2>Queijo gouda</h2>
      <p>QUEIJO muito bão slk RECEBA</p>
    </div>

    
      <div class="card">
        <img src="/full.jpg">
        <h2>Queijo gorgonzola</h2>
        <p>Derretido é uma delícia</p>
      </div>
  
     <div class="card">
        <img src="/parme.jpg">
        <h2>Queijo coalho</h2>
        <p>é BÃO no churras</p>
      </div>
  
      <div class="card">
        <img src="/provo.jpg">
        <h2>Queijo gouda</h2>
        <p>QUEIJO muito bão slk RECEBA</p>
      </div>
  
  </main>

  <footer>
    Um grande site de queijos :) 
    </footer>
  
 
</body>
</html>