<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <h1>Todos os nossos queijos</h1>
  <p></p>
 
</body>
</html>