<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
  <h1>Observação queijal</h1>
</header>
  
  
  <main>
    <div class="card">
      <img src="/images/gorgo.jpg">
      <h2>Queijo gorgonzola</h2>
      <p class = "desc">Um queijo marmorizado com um fungo azul, o que traz o sabor caractéristico desse tipo de queijo.
         </p>
      
    </div>

  </main>

  <footer>
    Um grande site de queijos :) 
    </footer>
  
 
</body>
</html>